@charset "EUC-KR";

html{
  height: 100%;
}
body{
  min-height: 100vh;
}


main{
 height: inherit;
}

.p-box{
position: relative;
transform: translate(250px,30%);
margin: 0 auto;
}


/*productList & payGroup공통 속성  */
.pgroup{
  /* float:left; */
  /* width: 500px;
  height:400px; */
  /* margin:0 auto; */
  /* position: relative; */
  /* transform: translate(30%,0%); */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 100px;
 -webkit-box-pack: justify;
 height: 100%;
}
.p-ul{
  list-style: none;
}


/* 게제상품 리스트 */
.productList{
  display:inline-block;
  /* flex:1; */
  position: relative;
  width: 700px;
  /* height:100%; */
  box-sizing: border-box;
  /* background-color: lightcoral; */
  border-top:3px solid black;
  border-bottom:3px solid black;
  
}

/* 장바구니 리스트 li 내부 div박스 */
.li-inner{
  display: flex;
  flex-direction: row;
  gap:65px;
}
.li-inner img{
  width:80px;
  height: 80px;
  background-color: skyblue;
  margin:1.5%;
}
.li-inner select{
  width:50px;
  height:25px;
}
.p-name{
  width:95px;
}


/*  */
/* 가격, 셀렉트 박스,  총합계 위치조정 */
.item-price, .all-price, select{
  text-align: center;
  transform: translate(0, 35px);
}




.basket-product{
  font-size:large;
  font-weight:bold;
}
.innerList{
  width:600px;
  height:100%;
  background-color: lightgray;
  transform: translate(2%,0%);
  padding:5%;
  margin-bottom:2%;
}

.paymentList-ul{
  padding:0;
}

.paymentList-ul>li{
  display: block;
  width:100%;
  height: 100px;
  background-color: darkgray;
  margin:1% auto;

}





/* 결제금액 */
.payGroup{
  display:inline-block;
  position:absolute;
  width: 400px;
  height: 100%;
  /* background-color: lightseagreen; */
  box-sizing: border-box;
  margin-left: 2%;
  height: 100%;
  box-sizing: border-box;
  /* top:1100px; */
}
.sticky-block{
  position: sticky;
  top:0;
}
.payGroup-ul{
  /* position: sticky;
  top:0; */
  padding:0;
  border-bottom:3px solid black;
  padding-bottom: 5px;
}
.payGroup-ul>li{
  line-height: 30px;
  word-spacing: 280px;
}
.order-product{
  /* position: sticky;
  top:0; */
  border-top: 3px solid black;
  display: inline-block;
  border-bottom:3px solid black;
  width: 100%;
  padding-top:5px;
  padding-bottom:5px;
  margin:0;
}
.total-pay{
  word-spacing: 240px;
  padding:0;
}
.total-btn{
  width:100%;
  height:50px;
  color:white;
  background-color: black;
}

.footer-all{
	position:relative;
	top:30%;	
}
