@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f5ecec;
}

/* section */
#sec-img-all{
	order: 1;		
}

/* 오른쪽 */
/* 커서 올려놓으면 배경 변함 */
.sec-img-r:hover{
	background:url("../Main-image/꽃메인3.jpg")fixed; 
	background-size : contain; 
}
.sec-img-r{
	/* background:url("../Main-image/꽃메인3.jpg")fixed;  */
    background-color: #b27979;
    box-sizing: border-box;
    background-size : contain; 
    position:absolute;
    left: 50%;
	height: 30em;
	width: 50%;
	top: 130px;
}

/* 왼쪽 */
/* 커서 올려놓으면 배경 변함 */
.sec-img-l:hover{
	background:url("../Main-image/향수3.jpg")fixed; 
	background-size : contain; 
	
}
.sec-img-l{
	/* background:url("../Main-image/향수메인2.jpg")fixed;  */
	background-color: #b27979;
    box-sizing: border-box;
    background-size : contain; 
    position:absolute;
    right: 50%;
	height: 30em;
	width: 50%;
	top: 130px;
}

/* div요소 */
.r-element{
	position: absolute;
	top: 30%;
	right: 30%;
}

.l-element{
	position: absolute;
	top: 30%;
	left: 30%;
}

/* button */
.btn-r{
	 border: 1px solid #fff;
	 background-color:transparent;
	 position: relative;
	 color: #fff;
	 height: 50px;
	 width: 180px;
	 display : flex;
  	 justify-content : center;
  	 align-items : center;
	 
}
.btn-l{
	 border: 1px solid #fff;
	 background-color:transparent;
	 position: relative;
	 color: #fff;
	 height: 50px;
	 width: 180px;
	 display : flex;
  	 justify-content : center;
  	 align-items : center;	 
}

h3{
	color: white;
	text-align: center;
}

/* 멘트 */
#moonjang {
	font-family: 'BookkMyungjo-Bd';
  	font-size: 1.2rem;
  	position: relative;
  	text-align: center;
  	top: 36em;
  	order: 3; 
}

/* 중간이미지 */
#perfume-img{
	background-color: white;
	background-size: 100% 100%;
	position: relative;
	height: 400px; 
	top: 50em;
	width: 100%;
	order: 4; 
}

/* 회원 추천향수 */
#Perfume-recommend {
	font-family: 'BookkMyungjo-Bd';
	font-size: 1.2rem;
  	position: relative;
  	top: 50em;
  	text-align: center;
  	order: 5; 
}

/* 추천향수 박스  */
.user-recommend{
	position: relative;
	left: 5em;
	top: 4em;
	height: 350px;
	width: 260px;
	background-color: white;
	
}
.card-img{
	height: 250px;
	width: 260px;
	background-color: black;
}
.card-head > h3{
	font-size: 1rem;
	margin: 4px;
}

.price{
	font-size: 1rem;
	margin: 4px 0 2px;
}

/* footer */
.footer-all{
	position:relative;
	top:220%;	
}
